* {

}

body {
    background-color:var(--light);
}

:root {
--dark: #00203fff;
--light: #ADEFD1DD;
}

    
nav a {
    color: var(--light);
    text-decoration: none;
    padding-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    display: inline-block;
    margin-left: 25px;
    }

h1 {
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark);
    margin-bottom: 20px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark);
}

.homebutton {
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--light);
    margin-bottom: 20px;
    text-decoration: none;
}

.header {
    background-color: var(--dark);
    padding: 12px;
    font-size: 17.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    }
    

.hero {
    height: 700px;
    width: 100%;
    background-image: url(./images/background.image.jpeg);
    background-size: cover;
    background-position: center;
}

.footer {
    background-color: var(--dark);
    color: var(--light);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 0px 0px 12px 0px;

}

.nav.socials {
    color: var(--light);
    text-decoration: none;
    padding-top: 10px;
    margin-right: 20px;
    font-size: 20px;
}

.abouthero {
    height: 400px;
    width: 100%;
    background-image: url(./images/background.image.jpeg);
    background-size: cover;
    background-position: center;
}
.instagram::before {
    content: "📷";
    padding-right: 3px;
}

.github::before {
    content:url(./images/GitHub-Mark-Light-32px.png);
    padding-right: 3px;
}

.AboutP {
    color: var(--dark);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: var(--light) 2px;
}

.Subheading {
    color: var(--dark);
    padding: 20px;
}

.Projects {
    background-color: var(--light);
    display: flex;
    height: 600px;
    flex-direction: column;
    border-style: solid black;
    border-width: 2px;
}

.Prjct1img, .Prjct3img {
    border-radius: 50%;
    padding-bottom: 20px;
    padding-right: 20px;
    float: left;
}

.Prjct2img, .Prjct4img {
    border-radius: 50%;
    padding-bottom: 20px;
    padding-left: 20px;
    float: right;
    
}

.Prjct1, .Prjct3 {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Prjct2, .Prjct4 {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Prjcttxt {
    text-align: end;
    padding-top: 30px;
    color: var(--dark);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 600px) {
    .abouthero {
        display: none;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navabout a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }

    }




